.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.centered {
    display: grid;
    justify-content: center;
}

li a {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  color: grey;
  text-decoration: none;
}

